name: Build and Upload to PyPI

"on":
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: set up python 3
        uses: actions/setup-python@b55428b1882923874294fa556849718a1d7f2ca5 # tag=v4
        with:
          python-version: "3.x"

      - name: setup/activate project-venv cache
        uses: actions/cache@f4278025ab0f432ce369118909e46deec636f50c # tag=v3
        with:
          path: project-venv
          key: {% raw %}${{ hashFiles('requirements-*.txt') }}{% endraw %}

      - name: Install dependencies
        run: |
          python3 -m venv project-venv
          source project-venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-build.txt

      # https://setuptools.pypa.io/en/latest/deprecated/commands.html
      # > While it is perfectly fine that users write setup.py files to configure a package build
      # > (e.g. to specify binary extensions or customize commands), on recent versions of setuptools,
      # > running python setup.py directly as a script is considered deprecated.
      # > ...
      # > If you want to create sdist or wheel distributions
      # > the recommendation is to use the command line tool provided by build:
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: {% raw %}${{ secrets.PYPI_API_KEY }}{% endraw %}
        run: |
          source project-venv/bin/activate
          python3 -m build
          twine upload dist/*
